language: go
sudo: false
go:
  - 1.13.x

before_install:
  - go get -t -v ./...

script:
  - go test -covermode=count -coverprofile=coverage.txt ./app/...

after_success:
  - bash <(curl -s https://codecov.io/bash)